

.files{
    position: relative;
    padding-bottom: 20px;
    /* height: 0px; */
}
/* 
.files img{
    width: 110px;
} */


.text{
    position: absolute;
    bottom: 55%;
}


.text span{
    color:#FF3366;
    padding-left:37px;
    padding-bottom: 50px;
}