

.dialog {
    height: 855px;
    overflow: auto;
    background-color:white;
    padding:15px;
    border-radius:10px;
}

/* .dialog button{
    background-color:white;
}  */






